pipeline/load_adventureworkslt_loop.json
{
	"name": "load_adventureworkslt_loop",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup-For-AdventureWorksLT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup-For-AdventureWorksLT').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "load_adventureworkslt_full",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "input_ltconsultdemo_AW",
									"type": "DatasetReference",
									"parameters": {
										"schema": "@item().shema_name",
										"table": "@item().table_name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "output_ltconsultdemo_AW",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup-For-AdventureWorksLT",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\r\n    TABLE_SCHEMA,\r\n    TABLE_NAME,\r\n    CONCAT(TABLE_SCHEMA,'_',TABLE_NAME) as FILE_NAME\r\nFROM INFORMATION_SCHEMA.TABLES\r\nWHERE TABLE_TYPE='BASE TABLE' AND TABLE_SCHEMA = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "input_ltconsultdemo_AW",
						"type": "DatasetReference",
						"parameters": {
							"schema": "INFORMATION_SCHEMA",
							"table": "TABLES"
						}
					}
				}
			}
		],
		"folder": {
			"name": "AdventureWorksLT-Parameterized"
		},
		"annotations": []
	}
}